* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing:border-box;
}

.hero {
    height:100vh;
    width:100%;
    background-image: url(./IMG_2288.jpeg);
    background-size: cover;
    background-position: center;
    
}

nav {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 55px;
    padding-left: 12%;
    padding-right: 12%;
    width:100%;
    background: rgb(145, 114, 114);  
}

a {
    color:rgb(8, 49, 112);
}

.name {
    color:rgb(224, 231, 18);
    font-size: 60px;
    
}

body {
    background: rgb(145, 114, 114);
}

nav ul li {
    display:flex;
    display:inline-block;
    justify-content: space-evenly;
    font-size:20px;
    font: bold;
    font-weight: 650;
}

.meat {
    border-style:double;
    border-width: 10px;
    border-radius: 50px;
    padding: 100px;
    /* flex: 0 0 300px; */
    transform: rotate(8 deg);
    box-shadow: 20px,20px,15px, #aaaaaa;
    margin:20px;
    background-color:aquamarine;
    
    display: grid;
    grid-template-columns:auto;
    grid-gap: 20px;
}

.meat header {
    border-radius:100px 100px 0px 0px;
    font-size: 25px;
    font-weight:bolder;
    
}

.aside {
    background-color:aquamarine;
    padding: 50px;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.boxes {
    align-items: end;
    
}


/* .page-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    display:flex;
    justify-content: center;
}

header p {
    display:flex;
    justify-content: center;
    background-color: blueviolet;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */



