.photo {

    background-image: url("https://aviewfrommyseat.com/photos/anonymous-20210423173302.jpg");
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

body {
    background-image: url("https://aviewfrommyseat.com/photos/anonymous-20210423173302.jpg");
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}